#info {
	width: 20%;
	margin: 0px auto;
	text-align: center;
	padding: 0% 1% 1% 0%;
}

#info table {
	margin: 0px auto;
	width: 100%;
}

#info table tbody tr {
}

#info table tbody tr td:nth-child(1) {
	color: black;
	font-weight: bold;
}

#info table tbody tr td:nth-child(2) {
	color: grey;
}

#info table tbody tr td {
	font-size: 20px;
}