#searchBox { /* Container - lists, buttons etc */
	height: 10vw;
	width: 30%;
	margin: 0px auto;
	text-align: center;
	/*
	border: solid grey 2px;
	*/
	padding: 1%;
	background-color:;
}

.listLabel {
	margin-left: 3%;
	font-size: 18px;
}

select {
	border: solid grey 2px;
	border-radius: 5%;
	padding: 1% 3% 1% 3%;
	font-size: 18px;
	width: 100%;
	text-align: center;
}

#titles {
	height: 50%;
}

.row {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.insideCentre {
	/*
	margin: 0px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	*/
	margin: 0px;
}

#buttonsBox {
	margin-top: 5%;
}

#buttonsBox input[type=button] {
	border: dotted grey 3px;
	border-radius: 10%;
	padding: 1% 3% 1% 3%;
	font-size: 18px;
	outline: none;
}

#buttonsBox input[type=button]:active {
	border: solid grey 3px;
	background-color: darkgrey;
}

.sideBoxes{
	display: inline-block;
	width: 50%;
	height: 100%;
}

#rightBox {
	float: right;
}

#leftBox {
	float: left;
}